@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
	margin:0;
	padding:20px 80px 20px 80px;
	font-family:"Open Sans",sans-serif;
    max-width:800px;
}

h1,h2,h3 {
	font-family:"Open Sans",sans-serif;
}

h2 {
	font-size:20px;
	font-weight:bold;
	color:rgb(0,0,0);
	margin:10px 0 10px 0;
}

h3 {
	font-size:18px;
	font-weight:bold;
}

div.logo {
	margin:0 0 30px -54px;
}

div.huvud {
	font-family:"Open Sans",sans-serif;
	font-size:16px;
	margin:0 0 10px 0;
}

div.huvudBenamning {
	font-family:"Open Sans",sans-serif;
	font-weight:bold;
	font-size:20px;
	margin:0 0 10px 0;
}

span.huvudBenamningPoang {
	font-size:16px;
}

div.huvudSubBenamning {
	font-family:"Open Sans",sans-serif;
	font-style: italic;
	font-size:16px;
	margin:0 0 30px 0;
}


div.huvudTabell {
	border-top:1px solid rgb(0,0,0);
	border-bottom:1px solid rgb(0,0,0);
	padding:10px 0 10px 0;
	margin:0 0 30px 0;
}

div.huvudTabell table tr td {
	font-family:"Open Sans",sans-serif;
	font-size:12px;
}

div.KPInnehall {
	font-size:14px;
	margin:0 0 20px 0;
}

/** General elements **/
div.floatLeft {
	width:49%;
	float:left;
}

div.floatRight {
	width:49%;
	float:right;
}

div.width40 {
	width:39%;
}

div.width60 {
	width:59%;
}

span.redWarning {
	color:#B02B2C;
}

@media print {
    body {
        padding:20px 40px 20px 55px;
    }
}
