code{
	user-select: all;
}

pre code{
	user-select: auto;
}

.site-name{
	color: var(--c-text-accent) !important;
}

@media print{
	
	iframe{
		visibility: hidden;
	}
	
	.sidebar{
		display: none;
	}
	
	.page{
		padding-left: 0;
	}
	
	.navbar{
		display: none;
	}
	
	.code-group-item{
		display: block;
	}
	
}