code{
	user-select: all;
}

pre code{
	user-select: auto;
}

.sidebar-links > .sidebar-heading:first-child{
	font-size: 80%;
	margin-left: -0.8rem;
}

.dropdown-wrapper .nav-dropdown .dropdown-item a{
	line-height: 1rem;
}

.dropdown-wrapper .nav-dropdown .dropdown-item{
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

@media print{
	
	iframe{
		visibility: hidden;
	}
	
	.sidebar{
		display: none;
	}
	
	.page{
		padding-left: 0;
	}
	
	.navbar{
		display: none;
	}
	
	.code-group-item{
		display: block;
	}
	
}